* {
    text-align: center;
    font-family: "Arial", sans-serif;
    color:blueviolet;
}

#instruction {
    border-style:dotted;
    border-color: blueviolet;
}

.Unitcontainer {
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
}

.UnitLabel {
    border:2px hidden;
    top:10px;
}